{% extends "base.html" %}
{% load add_field_css i18n %}

{% block head-title %}<span class="emoji">🏆</span>{% trans "Create New Tournament"%}{% endblock %}
{% block page-title %}{% trans "Tabbycat" %}{% endblock %}
{% block sidebar %}{% endblock %} {# Need to override sidebar manually it will crash when no tournaments are present. Ideally this would be handled with the Mixins but this is a relatively unique view as it is part of Tournaments but is admin-only and thus shown with the sidebar #}

{% block page-alerts %}
  {% include 'errors/database_limit_warning.html' %}
{% endblock %}

{% block content %}

  {% blocktrans trimmed asvar donation %}
    Tabbycat is free to use, although <a href="https://opencollective.com/tabbycat">donations</a> are encouraged.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="primary" p1=donation %}

  <div class="card mt-3">
    <div class="list-group list-group-flush">
    <form action="." method="POST">
      {% csrf_token %}

      {% include "components/form-main.html" %}

      {% trans "Create Tournament" as title %}
      {% trans "Cancel and go back to the site home page" as subtitle %}
      {% url 'tabbycat-index' as suburl %}
      {% include "components/form-submit.html" %}

    </form>
    </div>
  </div>

{% endblock %}
