//------------------------------------------------------------------------------
// Footer Layout Changes
//------------------------------------------------------------------------------

// As per http://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: var(--tc-footer-bg);
  border-top: 1px solid var(--tc-border-color);
  transition: var(--tc-theme-transition);

  a {
    border-bottom: 1px solid var(--tc-border-color);
    color: var(--tc-body-color);
  }

  .navbar-light {
    background: var(--tc-footer-bg);
  }

  h6, p {
    color: var(--tc-body-color);
  }

  .text-muted {
    color: var(--tc-text-muted) !important;
  }
}

//------------------------------------------------------------------------------
// Responsive tweaks
//------------------------------------------------------------------------------

// Applies just to phones
@include media-breakpoint-up(xs) {

  .footer {
    height: $footer-height * 0.9;
  }
}

// Applies just to tablets
@include media-breakpoint-up(sm) {

  .footer {
    height: $footer-height * 0.95;
  }
}

// Applies just to laptops/desktops
@include media-breakpoint-up(lg) {

  .footer {
    height: $footer-height;
  }
}

// For Desktops
@media (min-width: breakpoint-min(sm, $grid-breakpoints)) {

  .footer a.nav-link {
    padding: 0; // Override bootstrap defaults for spacing
  }
}

// For Phones
@media (max-width: breakpoint-min(sm, $grid-breakpoints)) {

  .footer .nav-item {
    margin-left: 15px; // Override bootstrap defaults for spacing

    a.nav-link {
      padding-left: 0;
    }
  }
}
